In [79]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [80]:
## load the dataset
data= pd.read_csv(r'C:\Users\Rajch\Documents\churn\Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [81]:
data.shape

(10000, 14)

In [82]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [83]:
# preprocess the data
## Drop unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)    
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [84]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender']) 
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [85]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder= onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [86]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [87]:
geo_encoder_df = pd.DataFrame(geo_encoder, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [88]:
data=pd.concat([data.drop(['Geography'], axis=1),geo_encoder_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [89]:
#save the encodersand scalers
with open('label_encoder_gender.pkl', 'wb') as file:            
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl', 'wb') as file:            
    pickle.dump(onehot_encoder_geo,file)

In [90]:
onehot_encoder_geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)

In [91]:
## divide the data set into independent and dependent features
X = data.drop('Exited', axis=1)
y = data['Exited']

## split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [92]:
## scale the features
scaler = StandardScaler()           
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [93]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [94]:
with open('scaler.pkl', 'wb') as file:            
    pickle.dump(scaler,file)

##ANN IMPLEMENTATION

In [95]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense       
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [96]:
(X_train.shape[1],)

(12,)

In [97]:
# build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [98]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [99]:
import tensorflow 
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.001)   
loss=tensorflow.keras.losses.BinaryCrossentropy()   
loss

In [100]:
## compile the model
model.compile(optimizer=opt, loss="binary_crossentropy", metrics=['accuracy'])

In [101]:
##set up the tensorboard 
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [102]:
#set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [103]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[early_stopping_callback])

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.4630 - accuracy: 0.7951 - val_loss: 0.3992 - val_accuracy: 0.8215
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3913 - accuracy: 0.8363 - val_loss: 0.3651 - val_accuracy: 0.8460
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3588 - accuracy: 0.8549 - val_loss: 0.3520 - val_accuracy: 0.8615
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3467 - accuracy: 0.8572 - val_loss: 0.3456 - val_accuracy: 0.8575
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8587 - val_loss: 0.3457 - val_accuracy: 0.8555
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3374 - accuracy: 0.8612 - val_loss: 0.3419 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8625 - val_loss: 0.3491 - val_accuracy: 0.8615
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3315 - accuracy: 0.8626 - val_loss: 0.3411 - val_accuracy: 0.8630
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3295 - accuracy: 0.8634 - val_loss: 0.3424 - val_accuracy: 0.8625
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3269 - accuracy: 0.8630 - val_loss: 0.3437 - val_accuracy: 0.8610
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3254 - accuracy: 0.8650 - val_loss: 0.3471 - val_accuracy: 0.8650
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3227 - accuracy: 0.8662 - val_loss: 0.3413 - val_accuracy: 0.8640
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3215 - accuracy: 0.8690 - val_loss: 0.3427 - val_accuracy: 0.8585
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3201 - accuracy: 0.8691 - val_loss: 0.3379 - val_accuracy: 0.8655
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3188 - accuracy: 0.8668 - val_loss: 0.3348 - val_accuracy: 0.8630
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3156 - accuracy: 0.8679 - val_loss: 0.3442 - val_accuracy: 0.8615
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3150 - accuracy: 0.8677 - val_loss: 0.3416 - val_accuracy: 0.8625
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3144 - accuracy: 0.8681 - val_loss: 0.3383 - val_accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3128 - accuracy: 0.8695 - val_loss: 0.3362 - val_accuracy: 0.8645
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3107 - accuracy: 0.8685 - val_loss: 0.3396 - val_accuracy: 0.8645
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3083 - accuracy: 0.8712 - val_loss: 0.3423 - val_accuracy: 0.8585
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3095 - accuracy: 0.8720 - val_loss: 0.3356 - val_accuracy: 0.8655
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3075 - accuracy: 0.8715 - val_loss: 0.3388 - val_accuracy: 0.8625
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3065 - accuracy: 0.8705 - val_loss: 0.3416 - val_accuracy: 0.8630
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3047 - accuracy: 0.8733 - val_loss: 0.3439 - val_accuracy: 0.8610

In [105]:
model.save('model.h5')